

/* index页面主题属性 */
.bbs-title {
  font-size:    22px;
/*border-style: none;
  font-weight:  600;
  color:        #333333;
  padding-top:  0px;
  margin-top:   0px; */
}

/* 兼容之前非CKeidtor输入的Body */
.bbs-pre {
  white-space:  pre;
  border:       none;
  margin-left:  15px;
  margin-right: 15px;
  padding-top:    10px;
  padding-bottom: 10px;
  font-size:    16px;
}

/* CKeidtor输入的Body 已编排格式 */
div pre {
  border:   none !important;
  background-color: #FFFFFF !important;
  padding: 0px !important;
  font-size: 16px !important;
}


/* CKeidtor输入的Body 未编排格式 */
.bbs-text {
  padding: 10px 15px;
  font-size: 16px;
}


/* 修改链接颜色为红色 */
.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
        color: red !important;
        border-color: #285e8e; /*set the color you want here*/
}

.inaline { 
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis;
        color: #999999;
        /*clip  修剪文本。*/ 
}  

/* 分页按钮居中 */
.bbs-center {
    width: auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

/* 设置bootstrap栅栏系统中文字垂直居中 */
.bbs-vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-20%);
}

.bbs-btn-right {
    text-align:right;
}

li a {
  color: #666666 !important;
}

/* 分类边框 */
.bbs-classborder {
        border-left:5px solid #00bfff;
        padding-left: 10px;
}
