{{ define "content" }}

<div class="row">

    <div class="col-lg-2">
        <h4 class="bbs-classborder"><i class="fa fa-circle-o-notch fa-spin"></i>分类</h4>
        <ul class="nav nav-stacked">
            <div class="row">
            {{ range threadclassinfo }}
            <div class="col-sm-7" style="padding-left:30px">
                <li><a class="btn-link" href='/class?id={{ .Id }}'>{{ .Name }}</a></li>
            </div>
            <div class="col-sm-5">
                <p class="text-right">({{ .ThreadCount }}篇)</p>
            </div>
            {{ end }}
            </div>
            <li><a class="btn-link" href='https://{{ pubaddr }}/'><i class="fa fa-plus"></i>添加分类</a></li>
        </ul>

        </br>
        <h4 class="bbs-classborder"><i class="fa fa-circle-o-notch fa-spin"></i>归档</h4>
        <ul class="list-group">
            {{ range threadarchived }}
            <li class="list-group-item"><span class="badge">{{ .Count }}篇</span>{{ .Month }}</li>
            {{ end }}
        </ul>
    </div>

    <div class="col-lg-10">
        {{ range .Threads }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bbs-title">
                    <i class="fa fa-comment-o pull-left"></i>
                    <a class="btn-link" href="/thread/read?id={{ .Uuid }}"> {{ .Topic }} </a>
                </h3>
                <div class="inaline">
                    {{ .Body }}
                </div>
            </div>
            <div class="panel-footer">
                {{ .CreatedAtDate }}&nbsp;&nbsp;&nbsp;作者:&nbsp;{{ .User.Name }}&nbsp;&nbsp;&nbsp;评论数:&nbsp;{{ .NumReplies }}
            </div>
        </div>
        {{ end }}

        {{ template "pagelist" . }}
    </div>

</div>

{{ end }}
