{{ define "content" }}

<script src="/static/ckeditor/ckeditor.js"></script>

<div class="panel panel-default">
  <div class="panel-heading">
          <h3 class="panel-title bbs-title">
                  <span>{{ .Topic }}</span>
          </h3>
  </div>
  <div class="panel-footer">
        {{ .CreatedAtDate }}&nbsp;&nbsp;&nbsp;作者:&nbsp;{{ .User.Name }}&nbsp;&nbsp;&nbsp;评论数:&nbsp;{{ .NumReplies }}&nbsp;&nbsp;&nbsp;分类: 杂项
  </div>

  {{ if .CompatibleNonCkeidtor }}
  <div class="bbs-pre">{{ .Body | recogurl | html }}</div>
  {{ else }}
  <div class="bbs-text">{{ .Body | html }}</div>
  {{ end }}
  
  {{ range .Posts }}
  <div class="panel-footer">
          <span>
              <i class="fa fa-comment"></i>
              {{ .User.Name }}&nbsp;&nbsp;&nbsp;{{ .CreatedAtDate }}
          </span>
  </div>

  {{ if .CompatibleNonCkeidtor }}
  <div class="bbs-pre">{{ .Body | recogurl | html }}</div>
  {{ else }}
  <div class="bbs-text">{{ .Body | html }}</div>
  {{ end }}

  {{ end }}    

</div>

<h5><i class="fa fa-comment-o"></i>评论:</br></h5>
<form role="form" action="/thread/post" method="post">
    <div class="form-group">
        <textarea name="body" id="editor1" placeholder="Write your reply here" rows="4"></textarea>
        <script>
            CKEDITOR.replace('editor1', {
                    language: 'zh-CN',//改成中文版
            });
        </script>
        <br/>
        <input type="hidden" name="uuid" value="{{ .Uuid }}">
        <button class="btn btn-primary pull-right" type="submit">提交</button>
   </div>
</form>



{{ end }}
