{{ define "content" }}

<script src="/static/ckeditor/ckeditor.js"></script>

<div class="panel panel-default">
  <div class="panel-heading">
          <h3 class="panel-title bbs-title">
                  <span class="bbs-pre">{{ .Topic }}</span>
          </h3>
  </div>
  <div class="panel-footer">
        {{ .CreatedAtDate }}&nbsp;&nbsp;&nbsp;作者:&nbsp;{{ .User.Name }}&nbsp;&nbsp;&nbsp;评论数:&nbsp;{{ .NumReplies }}&nbsp;&nbsp;&nbsp;分类: 杂项
  </div>

  <span class="bbs-pre bbs-body">{{ .Body | html }}</span>
  
  {{ range .Posts }}
  <div class="panel-body">
          <span>
              <i class="fa fa-comment"></i>
              {{ .User.Name }}&nbsp;&nbsp;&nbsp;{{ .CreatedAtDate }}
          </span>
  </div>

  <span class="bbs-pre bbs-body">{{ .Body | html }}</span>
  {{ end }}    

</div>


  <div class="panel panel-info">
    <div class="panel-body">
     <form role="form" action="/thread/post" method="post">
       <div class="form-group">
         <textarea name="body" id="editor1" placeholder="Write your reply here" rows="4"></textarea>
        <script>
                CKEDITOR.replace('editor1', {
                        language: 'zh-CN',//改成中文版
                });
        </script>
         <br/>
         <input type="hidden" name="uuid" value="{{ .Uuid }}">
         <button class="btn btn-primary pull-right" type="submit">Reply</button>
       </div>
     </form>
     </div>
  </div>



{{ end }}
